@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700|Roboto:300,400,500,700");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ::-moz-selection {
  background-color: #dfa974;
  color: #fff;
}

* ::selection {
  background-color: #dfa974;
  color: #fff;
}

@media (max-width: 576px) {
  .container {
    max-width: 720px;
  }
  #head {
    display: none;
  }
  #header {
    display: none;
  }
  #header-phone {
    display: block;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  #head {
    display: none;
  }
  #header {
    display: none;
  }
  #header-phone {
    display: block;
  }
  .slide {
    background-image: url(../PHOTO/hero-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 38rem 10rem;
    position: relative;
  }
  .slide .ws_images {
    display: none;
  }
  .slide .up {
    position: absolute;
    z-index: 1111;
  }
  .slide .up .i {
    border-radius: 5px;
    bottom: 20px;
    right: 10px;
    position: fixed;
    background-color: #dfa974;
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
  }
  .slide .up .i:hover {
    cursor: pointer;
  }
  .slide .slide-text {
    position: absolute;
    z-index: 111;
    width: 60%;
    top: 8rem;
    left: 4rem;
  }
  .slide .slide-text h1 {
    font-size: 80px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  .slide .slide-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }
  .slide .slide-text h5 {
    font-size: 22px;
    color: #fff;
  }
  .slide .slide-text hr {
    width: 13rem;
    height: 2px;
    border: 2px solid #ff8902;
    background-color: #ff9102;
  }
  .slide .form {
    margin-top: 3rem;
    position: absolute;
    z-index: 111;
    width: 80%;
    height: 490px;
    top: 40rem;
    left: 4rem;
    border: 1px solid #fFf;
    border-radius: 5px;
    background-color: #fff;
    padding: 2rem;
  }
  .slide .form h3 {
    color: #dfa974;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -1px;
  }
  .slide .form label {
    display: block;
    color: #707079;
  }
  .slide .form input {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 1px solid #707079;
    outline: none;
    margin-bottom: 1rem;
  }
  .slide .form select {
    margin-bottom: 1rem;
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 1px solid #707079;
    outline: none;
  }
  .slide .form a {
    display: block;
    padding: 14px 40px;
    color: #fff;
    font-weight: 500;
    background-color: #dfa974;
    border: none;
    text-align: center;
    font-size: 16px;
    border: 1px solid #dfa974;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slide .form a:hover {
    background-color: #fff;
    color: #dfa974;
    border: 1px solid #dfa974;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  #head {
    display: block;
  }
  #header {
    display: block;
  }
  #header-phone {
    display: none;
  }
  .slide {
    position: relative;
  }
  .slide .up {
    position: absolute;
    z-index: 1111;
  }
  .slide .up .i {
    border-radius: 5px;
    bottom: 20px;
    right: 10px;
    position: fixed;
    background-color: #dfa974;
    color: #fff;
    padding: 10px 15px;
    font-size: 30px;
  }
  .slide .up .i:hover {
    cursor: pointer;
  }
  .slide .slide-text {
    position: absolute;
    z-index: 111;
    width: 50%;
    top: 16rem;
    left: 4rem;
  }
  .slide .slide-text h1 {
    font-size: 83px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 2rem;
  }
  .slide .slide-text p {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
  }
  .slide .slide-text h5 {
    font-size: 14px;
    color: #fff;
  }
  .slide .slide-text hr {
    width: 7rem;
    height: 1px;
    border: 2px solid #ff8902;
    background-color: #ff9102;
  }
  .slide .form {
    position: absolute;
    z-index: 111;
    width: 25%;
    height: 490px;
    top: 12rem;
    right: 4.1rem;
    border: 1px solid #fFf;
    border-radius: 5px;
    background-color: #fff;
    padding: 2rem;
  }
  .slide .form h3 {
    color: #dfa974;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -1px;
  }
  .slide .form label {
    display: block;
    color: #707079;
  }
  .slide .form input {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 1px solid #707079;
    outline: none;
    margin-bottom: 1rem;
  }
  .slide .form select {
    margin-bottom: 1rem;
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 1px solid #707079;
    outline: none;
  }
  .slide .form a {
    display: block;
    padding: 14px 40px;
    color: #fff;
    font-weight: 500;
    background-color: #dfa974;
    border: none;
    text-align: center;
    font-size: 16px;
    border: 1px solid #dfa974;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slide .form a:hover {
    background-color: #fff;
    color: #dfa974;
    border: 1px solid #dfa974;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

.header-phone {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 1111;
  background-color: #fff;
}

.header-phone .left-box {
  text-align: left;
}

.header-phone .left-box img {
  margin-left: 2rem;
}

.header-phone .right-box {
  text-align: right;
}

.header-phone .right-box .bar i {
  padding: 1rem;
  border: 1px solid #020202;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 2rem;
}

.header-phone .right-box .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
  text-align: left;
}

.header-phone .right-box .sidenav .top {
  margin-bottom: 2rem;
  text-align: center;
}

.header-phone .right-box .sidenav .top a {
  display: block;
  padding: 18px 40px;
  color: #fff;
  font-weight: 500;
  background-color: #dfa974;
  border: none;
  text-align: center;
  font-size: 16px;
  border: 1px solid #dfa974;
  -webkit-transition: .4s;
  transition: .4s;
}

.header-phone .right-box .sidenav .top a:hover {
  background-color: #fff;
  color: #dfa974;
  border: 1px solid #dfa974;
  -webkit-transition: .4s;
  transition: .4s;
}

.header-phone .right-box .sidenav .top i {
  font-size: 16px;
  margin-bottom: 2rem;
}

.header-phone .right-box .sidenav .tbt {
  margin-bottom: 3rem;
}

.header-phone .right-box .sidenav .tbt a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-phone .right-box .sidenav .tbt a:hover {
  color: #020202;
  -webkit-transition: .4s;
  transition: .4s;
}

.header-phone .right-box .sidenav .bottom {
  text-align: center;
}

.header-phone .right-box .sidenav .bottom i {
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: 1rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.header-phone .right-box .sidenav .bottom i:hover {
  color: #dfa974;
  -webkit-transition: .4s;
  transition: .4s;
}

.header-phone .right-box .sidenav .bottom p {
  font-weight: 600;
}

.header-phone .right-box .sidenav .bottom p i {
  color: #dfa974;
}

.header-phone .right-box .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .header-phone .right-box .sidenav {
    padding-top: 15px;
  }
  .header-phone .right-box .sidenav a {
    font-size: 18px;
  }
}

.head {
  width: 100%;
  padding: 1rem 0;
  border: 1px solid #e4e4e4;
}

.head .left-box i {
  color: #dfa974;
  font-size: 14px;
}

.head .left-box span {
  font-size: 16px;
  margin-right: 1rem;
  color: #020202;
  font-weight: 500;
}

.head .right-box i {
  color: #020202;
  margin-right: 1rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.head .right-box i:hover {
  color: #dfa974;
  -webkit-transition: .4s;
  transition: .4s;
}

.head .right-box a {
  padding: 18px 40px;
  color: #fff;
  font-weight: 500;
  background-color: #dfa974;
  border: none;
  text-align: center;
  font-size: 16px;
}

.header {
  z-index: 1111;
  background-color: #fff;
  position: fixed;
  width: 100%;
  padding: 1rem 0;
}

.header .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .middle .dropdown {
  margin-right: 42px;
  position: relative;
}

.header .middle .dropdown a {
  font-weight: 600;
  font-size: 16px;
  position: relative;
  -webkit-transition: .4s;
  transition: .4s;
}

.header .middle .dropdown a::before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border: 0px solid #dfa974;
  -webkit-transition: .4s;
  transition: .4s;
  bottom: -10px;
  left: 0;
}

.header .middle .dropdown a:hover::before {
  content: "";
  width: 100%;
  height: 1px;
  border: 1px solid #dfa974;
  -webkit-transition: .4s;
  transition: .4s;
}

.header .middle .dropdown a i {
  font-size: 12px;
}

.header .middle .dropdown:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .middle .dropdown:hover .dp-content {
  top: 2rem;
  opacity: 1;
}

.header .middle .dropdown:hover a {
  color: #020202;
}

.header .middle .dropdown a {
  font-weight: 600;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .middle .dropdown .dp-content {
  position: absolute;
  top: 3px;
  left: 0px;
  width: 9rem;
  height: 7rem;
  background-color: #fff;
  padding: 2px 0;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #fff;
}

.header .middle .dropdown .dp-content a {
  font-size: 14px;
  display: block;
  margin-bottom: .5rem;
  padding: 5px 20px;
}

.header .middle .dropdown .dp-content a:hover {
  color: #dfa974;
}

.first {
  margin: 6rem 0;
}

.first .all .box {
  text-align: center;
}

.first .all .box h5 {
  color: #dfa974;
  font-weight: bold;
  font-size: 15px;
}

.first .all .box h2 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.first .all .box p {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.first .all .box h6 {
  margin-top: 3rem;
}

.first .all .box hr {
  width: 10rem;
  height: 1px;
  background-color: #f8810a;
  border: 1px solid #ff8000;
  margin: 2px auto;
  margin-bottom: 2rem;
}

.second .top {
  margin: 3rem 0;
  text-align: center;
}

.second .top h6 {
  color: #dfa974;
  font-size: 16px;
  letter-spacing: 1px;
}

.second .top h2 {
  font-weight: 400;
  font-size: 48px;
}

.second .bottom .box {
  text-align: center;
  margin-bottom: 2rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.second .bottom .box:hover {
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #dfa974;
  color: #FFF;
}

.second .bottom .box:hover i {
  color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.second .bottom .box i {
  margin-top: 4rem;
  color: #dfa974;
  font-size: 50px;
  -webkit-transition: .4s;
  transition: .4s;
}

.second .bottom .box h4 {
  font-size: 25px;
  margin: 20px 0;
  font-weight: 400;
}

.second .bottom .box p {
  font-size: 16px;
  margin-bottom: 3rem;
}

.third .box {
  position: relative;
  overflow: hidden;
}

.third .box:hover {
  -webkit-transition: 1s;
  transition: 1s;
}

.third .box:hover .bx-text {
  bottom: 5rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.third .box img {
  width: 100%;
  height: 550px;
}

.third .box .bx-text {
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  bottom: -14rem;
  left: 3rem;
}

.third .box .bx-text h4 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 1rem;
}

.third .box .bx-text p {
  color: #dfa974;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 4rem;
}

.third .box .bx-text p span {
  color: #FFF;
  font-size: 20px;
}

.third .box .bx-text table {
  color: #fff;
}

.third .box .bx-text h6 {
  margin-top: 2rem;
  color: #dfa974;
}

.third .box .bx-text hr {
  width: 8rem;
  height: 2px;
  border: 2px solid #dfa974;
}

.fourth {
  margin: 5rem 0;
}

.fourth .top {
  text-align: center;
}

.fourth .top h5 {
  color: #dfa974;
  font-size: 16px;
  letter-spacing: 1px;
}

.fourth .top h2 {
  font-size: 44px;
  letter-spacing: 1px;
}

.fourth .bottom .box {
  position: relative;
  margin-bottom: 2rem;
}

.fourth .bottom .box img {
  width: 100%;
}

.fourth .bottom .box .bx-text {
  position: absolute;
  left: 3rem;
  top: 18rem;
}

.fourth .bottom .box .bx-text h5 {
  text-align: center;
  font-size: 12px;
  width: 90px;
  height: 16px;
  background-color: #dfa974;
}

.fourth .bottom .box .bx-text h2 {
  font-size: 26px;
  color: #fff;
  font-weight: 400;
}

.fourth .bottom .box .bx-text p {
  font-size: 12px;
  color: #fff;
}

.last {
  background-color: #222736;
  padding: 5rem 0;
}

.last .left-box p {
  font-size: 16px;
  color: #aaaab3;
  margin-top: 20px;
}

.last .left-box i {
  padding: 1rem;
  border: 1px solid #dfa974;
  border-radius: 100%;
  color: #fff;
  margin-right: 7px;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
}

.last .left-box i:hover {
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #dfa974;
  cursor: pointer;
}

.last .center-box h4 {
  font-size: 14px;
  color: #dfa974;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.last .center-box p {
  color: #aaaab3;
  font-size: 16px;
  margin-bottom: 7px;
}

.last .right-box h4 {
  font-size: 14px;
  color: #dfa974;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.last .right-box p {
  color: #aaaab3;
  font-size: 16px;
  margin-bottom: 7px;
}

.last .right-box .inp-btn {
  background-color: #393D4A;
  width: 100%;
  height: 39px;
  text-align: end;
}

.last .right-box .inp-btn input {
  background-color: transparent;
  width: 83%;
  height: 40px;
  outline: none;
  padding: 2px  8px;
  color: #aaaab3;
  border: none;
}

.last .right-box .inp-btn button {
  font-size: 20px;
  background-color: #dfa974;
  padding: 4px 10px;
  color: #e4e4e4;
  border: none;
  outline: none;
}

.footer {
  background-color: #1E2331;
  padding: 2rem;
  text-align: center;
}

.footer p {
  color: #e4e4e4;
}

.footer p i {
  color: red;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body.loaded {
  overflow-y: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11111111111111;
}

.overlay .overlayDoor:before, .overlay .overlayDoor:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #dfa974;
  -webkit-transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
  transition: 0.5s cubic-bezier(0.77, 0, 0.18, 1);
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.overlay .overlayDoor:before {
  left: 0;
}

.overlay .overlayDoor:after {
  right: 0;
}

.overlay.loaded .overlayDoor:before {
  left: -50%;
}

.overlay.loaded .overlayDoor:after {
  right: -50%;
}

.overlay.loaded .overlayContent {
  opacity: 0;
  margin-top: -15px;
}

.overlay .overlayContent {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 3s cubic-bezier(0.77, 0, 0.18, 1);
  transition: 3s cubic-bezier(0.77, 0, 0.18, 1);
}

.loader {
  width: 128px;
  height: 128px;
  border: 3px solid #fff;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  position: relative;
  -webkit-animation: spin 13 linear infinite;
          animation: spin 13 linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader .inner {
  width: 64px;
  height: 64px;
  border: 3px solid transparent;
  border-top: 3px solid #fff;
  border-radius: 50%;
  -webkit-animation: spinInner 3s linear infinite;
          animation: spinInner 3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spinInner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
  }
}

@keyframes spinInner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-720deg);
            transform: rotate(-720deg);
  }
}
/*# sourceMappingURL=style.css.map */